{% extends 'progress_app/base.html' %}

{% block content %}
  <div class="dashboard-header p-3">
    <h3>{{ user.first_name }}'s Progress Report</h3>
  </div>

  <div class="row my-5">
    {% for progress_report in progress_reports %}
      <div class="col-lg-3 col-md-4 col-12 d-flex justify-content-center">
        <div class="card mb-5" style="width: 18rem;">
          <div class="card-header d-flex justify-content-between"><b>Week: {{ progress_report.week_number }}</b>
            <a href="{% url 'progress_app:update_progress_report' progress_report.pk %}" class="btn btn-outline-primary btn-sm">Update</a>
          </div>
          <div class="card-body">
            <li>Assignment: {{ progress_report.assignment }}%</li>
            <li>Attendance: {{ progress_report.attendance }}%</li>
            <li>Marks: {{ progress_report.marks }}</li>
            <li>Comments: {{ progress_report.comments }}</li>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="pagination d-flex justify-content-center align-items-center">
    <span class="step-links">
      {% if progress_reports.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ progress_reports.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">Page {{ progress_reports.number }} of {{ progress_reports.paginator.num_pages }}.</span>

      {% if progress_reports.has_next %}
        <a href="?page={{ progress_reports.next_page_number }}">next</a>
        <a href="?page={{ progress_reports.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
{% endblock %}
